html { font-family: din, bahnschrift; background-color: #012e56; color: #fff }
h1 { font-size: 60px; }
h2 { font-size: 34px; }
h3 { font-size: 27px; }
* {font-size: 20px;}
h1, h2, h3 { margin:0; }
a, a:link, a:visited { color: #b4c7d9; }
.ctr { text-align:center; }
#authpanel { font-family: ms gothic, monospace; }
#authpanel input { font-family: ms gothic, monospace; }
.hide { display: none; }
.spins {
  animation: rotation 1.4s infinite ease-in-out;
}
#llog td, #llog td * {vertical-align:top;}
table { margin-left:auto; margin-right:auto }
#fscore {
	font-size:120px;
	font-weight:600;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* tier colors */
#fscore.wtfareyoudoing {
color:rgb(43,0,0);
}
#fscore.grading0 {
color:rgb(121,0,0);
}
#fscore.grading1 {
color:rgb(185,3,3);
}
#fscore.grading2 {
color:rgb(240,11,5);
}
#fscore.grading3 {
color:rgb(236,50,2);
}
#fscore.grading4 {
color:rgb(218,85,2);
}
#fscore.grading5 {
color:rgb(218,135,2);
}
#fscore.grading6 {
color:rgb(199,161,8);
}
#fscore.grading7 {
color:rgb(203,203,12);
}
#fscore.grading8 {
color:rgb(123,207,20);
}
#fscore.grading9 {
color:rgb(38,207,77);
}
#fscore.grading10 {
color:rgb(6,189,167);
}
#fscore.grading11 {
color:rgb(23,176,218);
}
#fscore.grading12 {
color:rgb(71,150,255);
}
#fscore.grading13 {
color:rgb(76,95,255);
}
#fscore.grading14 {
color:rgb(122,110,255);
}
#fscore.gradingmax {
color:#f85eb8;
}
